.show-hover:hover {
  background-color: #205081;
}

#cloaker-overlay {
  top: 0px;
  opacity: 0.5;
  background: black;
  position: fixed;
  height: 100%;
  width: 100%;
  pointer-events: none;
  display: block;
  z-index: 1001;
}

.button-container {
  display: flex;
  flex-direction: column;
}
